/* styles for my new IMPORTANT website */

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Anton', sans-serif; 

}

.active {
    color: 	#DC143C;
}

.home {
    background: black;
}

.login {
    background: #D3D3D3;
    font-family: 'Anton', sans-serif; 
}

.about {
    background: black;
    font-family: 'Anton', sans-serif; 

}

.contact {
    background: #D3D3D3;
}

.register {
    background: #D3D3D3;
}

.shows {
    background: black;
}

.shows-view {
    background: black;
}

.daily {
    background: black;
}

li {
    color: #DC143C;
}

.center {
    text-align: center;
    color: 	#00008B;
}

header {
    /* margin-bottom: 20px; */
    overflow: hidden;
    /* padding-bottom: 20px; */
    background: black;
}

.inner-header {
    margin: 20px auto;
}

#logo {
    width: 300px;
    float: left;
}

.image {
    display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

blockquote {
    color:#46e6dd;
    font-family: 'Anton', sans-serif;
}
    

nav ul {
    float: right;
    margin-top: 20px;
}

nav li {
    float: left;
    margin-left: 15px;
    list-style-type: none;

}

nav a {
    color: #46e6dd;
    text-decoration: none;
    font-family: 'Monoton', cursive;

}

#wrapper {
    clear: both;
    width: 940px;
    margin: 0 auto;
    color: black;
}

main {
 width: 580px;
 float: left;
}

aside {
    width: 340px;
    /* margin-top: 15px; */
    float: right; 
    
}

aside img {
    margin: 10px auto 15px auto;
}

footer {
    height: 50px;
    line-height: 50px;
    border-top: 1px dotted tan;
    color:	#DC143C;
    clear: both;
}

footer li {
    float: left;
    margin-right: 30px;
    list-style-type: none;
}

img {
    max-width: 100%;
    display: block;
}

blockquote {
    font-size: 1.4em;
    margin: 20px 100px 20px;
}

.home h1 {
    font-size: 3em;
    font-weight: 200;
    margin-bottom: 12px;
}

h1 {
    font-size: 2em;
    font-weight: 200;
    margin-bottom: 9px;
    color: white;
    font-family: 'Anton', sans-serif;
}

p {
    color: white;
}

a {
    color: white;
}

table {
    border: 1px solid tan;
    width: 500px;
    padding: 20px;
    margin-bottom: 20px;
}

.ps5 td:nth-child(1),
.ps5 td:nth-child(2){
    width: 150px;

}

.ps5 td:nth-child(2){
    padding-left: 20px;
}

form {
    width: 350px;
    margin: 0 auto;

}

input {
    margin-bottom: 10px;
    height: 30px;
    margin-bottom: 10px;
    width: 100%;
}

input[type=text],
input[type=email],
textarea {
    width: 100%;
    height: 30px;
}

textarea{
        height: 120px;
        margin-bottom: 20px;
    }

fieldset {
    color: black;
    padding: 10px 15px 10px 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    color: 	#00008B;
}

.box {
width: 600px;
margin: 20px auto;
background: beige;
padding: 20px;

}

select {
margin-bottom: 10px;
}

ul {
list-style-type: none;
}

span {
display: block;
color: 	#DC143C;
font-style: italic;
}

.success {
    width: 15%;
    height: 90px;
    color: 	#DC143C;
    background:#46e6dd;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:#DC143C;
    float: right;
    margin-right: 20px;
  }

.welcome-logout {
    /* display: inline-block; */
    width: 15%;
    height: 90px;
    color: 	#DC143C;
    background:#46e6dd;
    border: 1px solid white;
    border-radius: 20px;
    outline: none;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
    box-shadow:#DC143C;
    float: right;
    margin-right: 20px;
  }

/* Form css */


form {
    max-width: 580px;
    margin-bottom: 20px;
}

input {
    margin-bottom: 10px;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
    width: 100%;
    height: 30px;
}

textarea{
        height: 120px;
        margin-bottom: 20px;
    }

fieldset {
    color:black;
    padding: 10px 15px 10px 10px;
}

label {
    display: block;
    margin-bottom: 5px;
}

.box {
width: 600px;
margin: 20px auto;
background: beige;
padding: 20px;

}

select {
margin-bottom: 10px;
}

ul {
list-style-type: none;
}

span {
display: block;
color: 	#DC143C;
font-style: italic;
}